<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/home']">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="bloqueioDeClick"></div>
      <ion-label>Nv. 1</ion-label>
        <ion-range value="{{p}}"></ion-range>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <input type="text" type="checkbox" id="flip" />
  <div class="principal">
    <div class="bloqueioDeClick2"></div>
    <label class="carta" for="flip">
      <div class="animate__animated animate__zoomIn frente">
        <h1>{{ front }}</h1>
      </div>
      <div class="verso">
        <h2>{{ back }}</h2>
      </div>
    </label>
  </div>

  <div class="ion-padding monitor">
    <div class="r">
      <p>{{ resposta }}</p>
    </div>
  </div>

  <div class="teclado">
    <div class="animate__animated animate__zoomIn tabela">
      <ion-grid>
        <ion-col>
          <ion-row>
            <ion-button (click)="responder('あ')">A</ion-button>
          </ion-row>
          <ion-row>
            <ion-button (click)="responder('い')">I</ion-button>
          </ion-row>
        </ion-col>
      </ion-grid>

      <!-- TECLADO MODELO COM POPOVER -->

      <!-- <ion-grid>
        <ion-row>
          <ion-button id="a">A</ion-button>
          <ion-popover trigger="a" side="top" alignment="center" [dismissOnSelect]="true">
            <ng-template>
              <ion-content class="opcoes">
                <ion-button color="dark" fill="clear" (click)="responder('あ')">A</ion-button>
                <ion-button color="dark" fill="clear" (click)="responder('い')">I</ion-button>
                <ion-button color="dark" fill="clear" (click)="responder('う')" disabled>U</ion-button>
                <ion-button color="dark" fill="clear" (click)="responder('え')" disabled>E</ion-button>
                <ion-button color="dark" fill="clear" (click)="responder('お')" disabled>O</ion-button>
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-button id="ka" disabled></ion-button>
          <ion-button id="sa" disabled></ion-button>
        </ion-row>
        <ion-row>
          <ion-button disabled></ion-button>
          <ion-button disabled></ion-button>
          <ion-button disabled></ion-button>
        </ion-row>
        <ion-row>
          <ion-button disabled></ion-button>
          <ion-button disabled></ion-button>
          <ion-button disabled></ion-button>
        </ion-row>
        <ion-row>
          <ion-button disabled></ion-button>
          <ion-button disabled></ion-button>
          <ion-button disabled></ion-button>
        </ion-row>
      </ion-grid> -->
      
    </div>
  </div>

</ion-content>