<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/hiragana']">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="bloqueioDeClick"></div>
      <ion-label>Nv. 1</ion-label>
        <ion-range value="{{p}}"></ion-range>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <input type="text" type="checkbox" id="flip" />
  <div class="principal animate__animated animate__zoomIn">
    <div class="bloqueioDeClick2"></div>
    <label class="carta" for="flip">
      <div class="frente animate__animated animate__pulse animate__infinite animate__slow">
        <h1>{{ front }}</h1>
      </div>
      <div class="verso">
        <h2>{{ back }}</h2>
      </div>
    </label>
  </div>

  <div class="ion-padding monitor animate__animated animate__fadeInLeft">
    <div class="r">
      <p>{{ resposta }}</p>
    </div>
  </div>

  <div class="teclado animate__animated animate__fadeInRight">
    <div>
      <ion-grid>
        <ion-col>
          <ion-row>
            <ion-button class="animate__animated animate__heartBeat animate__delay-3s" (click)="responder('あ')">A</ion-button>
          </ion-row>
          <ion-row>
            <ion-button class="animate__animated animate__heartBeat animate__delay-5s" (click)="responder('い')">I</ion-button>
          </ion-row>
          <!-- <ion-row>
            <ion-button (click)="responder('う')">U</ion-button>
          </ion-row>
          <ion-row>
            <ion-button (click)="responder('え')">E</ion-button>
          </ion-row>
          <ion-row>
            <ion-button (click)="responder('お')">O</ion-button>
          </ion-row> -->
        </ion-col>
      </ion-grid>
    </div>
  </div>

</ion-content>