<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item button (click)="presentActionSheet()">
      <ion-label>{{ usuario }}</ion-label>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-buttons slot="end">
        <ion-label>Nv. {{ nivel }}</ion-label>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-card class="principal animate__animated animate__pulse animate__infinite" button [routerLink]="['/escrita']">
      <ion-card-header>
        <ion-card-title>ESCRITA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Memorize ideogramas
      </ion-card-content>
    </ion-card>

    <ion-card disabled>
      <ion-card-header>
        <ion-card-title>VOCABULÁRIO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Conheça novas palavras
      </ion-card-content>
    </ion-card>

    <ion-card disabled>
      <ion-card-header>
        <ion-card-title>ESTRUTURA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aprenda a construir frases
      </ion-card-content>
    </ion-card>

  </ion-list>
  
</ion-content>
